.app {
  min-height: 100vh;
  background-color: #EFF3F9;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.illustration {
  background-image: url(../../images/illustration.jpg);
  width: 95%;
  aspect-ratio: 1375/700;
  max-height: 77%;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -12px;
  right: -124px;
}

.container {
  max-width: 1346px;
  padding: 49px 50px 0 50px;
  margin: 0 auto;
  box-sizing: border-box;
}
