.main {
  position: relative;
  z-index: 1;
}

.main__title {
  color: #606F7A;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%;
  letter-spacing: -1px;
  max-width: 655px;
  margin: 156px 0 0 0;
}

.main__form {
  display: flex;
  margin-top: 79px;
  gap: 12px;
  max-width: 700px;
  min-height: 67px;
}

.main__fieldset {
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: 135fr 145fr 108fr 136fr;
  margin: 0;
  border: 0;
  padding: 0;
}

.main__form-field {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 47px;
  padding: 10px 0;
  flex: 1;
}

.main__label, .main__data-header {
  position: absolute;
  top: -36px;
  color: #B7B7B7;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.2px;
  margin: 0;
}

.main__data-value {
  color: #B7B7B7;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.2px;
  min-width: max-content;
  margin-right: 32px;
  margin-left: 32px;
}

.main__submit {
  border-radius: 3px;
  background: #5DAAFF;
  box-shadow: 0 4px 40px 0 rgba(93, 170, 255, 0.29);
  display: flex;
  gap: 14px;
  align-items: center;
  border: none;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.2px;
  padding: 0 34px 0 30px;
}

.main__submit:after {
  content: "";
  display: block;
  width: 25px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/next-button-arrow.svg);
}

.p-inputtext {
  width: 100%;
}

.select {
  width: 100%;
  min-height: 100%;
  border-right: 1px solid #DEDEDE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select:has(.select__control--menu-is-open) {
  border-right: 1px solid transparent;
}

.select .select__control, .select .select__control--is-focused {
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  -webkit-justify-content: center;
  justify-content: center;
  box-shadow: none;
  border-color: transparent;
}

.select .select__control:hover {
  border-color: transparent;
}

.select__indicator-separator {
  display: none;
}

.select .select__indicator {
  padding: 0;
  margin-left: 9px;
}

.select .select__value-container {
  padding: 0;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
}

.p-autocomplete {
  min-height: 100%;
  border-right: 1px solid #DEDEDE;
}

.p-inputwrapper-focus {
  border-right: 1px solid transparent;
}

.p-autocomplete-input {
  padding: 0 0 0 30px;
  border: none;
}

.p-inputtext:enabled:focus {
  border: none;
  box-shadow: none;
}

.select .select__single-value, .select .select__option, .p-autocomplete-input, .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  color: #606F7A;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.2px;
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  padding: 0 0 0 30px;
  min-height: 67px;
  display: flex;
  align-items: center;
  border-top: 1px solid #EBEBEB;
}

.select .select__option {
  padding: 0;
  min-height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #EBEBEB;
  background-color: #fff;
}

.select .select__option:active {
  background-color: #fff;
}

.p-autocomplete-panel {
  border-top: 1px solid #EBEBEB;
  margin-top: 9px;
  box-shadow: 0 4px 40px 0 rgba(93, 170, 255, 0.10);
  border-radius: 3px;
}

.main__form-field:has(.p-inputwrapper-focus), .main__form-field:has(.select__control--menu-is-open) {
  box-shadow: 0 4px 40px 0 rgba(93, 170, 255, 0.10);
  border-radius: 3px;
  position: relative;
  z-index: 6;
}

.main__form-field:has(.p-inputwrapper-focus) .main__label, .main__form-field:has(.select__control--menu-is-open) .main__label {
  color: #606F7A;
}

.main__form-field:has(+.main__form-field .select__control--is-focused) .p-autocomplete, .main__form-field:has(+.main__form-field .select__control--is-focused) .select {
  border-right: 1px solid transparent;
}

.p-autocomplete-panel .p-autocomplete-items {
  padding: 0;
}

.select .select__menu {
  border-radius: 0;
  margin: 9px 0 0 0;
  box-shadow: 0 4px 40px 0 rgba(93, 170, 255, 0.10);
}

.select .select__menu-list {
  padding: 0;
}
