.main {
  position: relative;
  z-index: 1;
}

.main__title {
  color: #606F7A;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%;
  letter-spacing: -1px;
  max-width: 655px;
  margin: 156px 0 0 0;
}

.main__form {
  display: flex;
  margin-top: 79px;
  gap: 12px;
  max-width: 700px;
  min-height: 67px;
  position: relative;
}

.main__fieldset {
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: 135fr 145fr 108fr 136fr;
  margin: 0;
  border: 0;
  padding: 0;
}

.main__form-field {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 47px;
  padding: 10px 0;
  flex: 1;
}

.main__label, .main__data-header {
  position: absolute;
  top: -36px;
  color: #B7B7B7;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.2px;
  margin: 0;
}

.main__data-value {
  color: #B7B7B7;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.2px;
  min-width: max-content;
  margin-right: 32px;
  margin-left: 32px;
}

.main__submit {
  border-radius: 3px;
  background: #5DAAFF;
  box-shadow: 0 4px 40px 0 rgba(93, 170, 255, 0.29);
  display: flex;
  gap: 14px;
  align-items: center;
  border: none;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.2px;
  padding: 0 34px 0 30px;
}

.main__submit:after {
  content: "";
  display: block;
  width: 25px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/next-button-arrow.svg);
}

.main__tip {
  background-color: #fff;
  display: flex;
  padding: 20px;
  gap: 12px;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: -80px;
}

.main__tip-text {
  color: #5DAAFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.2px;
  margin: 0;
}

.main__tip-submit {
  left: auto;
  right: 0;
  bottom: auto;
  top: -80px;
  z-index: 2;
}

.main__tip-arrow  {
  transform: rotate(180deg);
}

.main__form-field:has(.p-inputwrapper-focus), .main__form-field:has(.select__control--menu-is-open) {
  box-shadow: 0 4px 40px 0 rgba(93, 170, 255, 0.10);
  border-radius: 3px;
  position: relative;
  z-index: 6;
}

.main__form-field:has(.p-inputwrapper-focus) .main__label, .main__form-field:has(.select__control--menu-is-open) .main__label {
  color: #606F7A;
}

.main__form-field:has(+.main__form-field .select__control--is-focused) .p-autocomplete, .main__form-field:has(+.main__form-field .select__control--is-focused) .select {
  border-right: 1px solid transparent;
}

#root:has(.main) + .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  padding: 0 0 0 30px;
}
