.table  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table__head-row {
  display: grid;
  grid-template-columns: 123px 161fr 105fr 190fr 197fr 165fr 179fr 128fr;
  min-height: 80px;
}

.table__foot-row {
  display: grid;
  grid-template-columns: 178px 116fr 105fr 190fr 197fr 165fr 179fr 128fr;
  min-height: 80px;
}

.table__head-cell, .table__foot-cell {
  border-right: 1px solid #E2E4EA;
  border-top: 1px solid #E2E4EA;
  border-bottom: 1px solid #E2E4EA;
  color: #606F7A;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1px;
  background: #F8FAFF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__head-cell:nth-child(3) {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #E2E4EA;
}

.table__foot-cell:nth-child(2) {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #E2E4EA;
}

.table__head-cell:last-of-type, .table__foot-cell:last-of-type {
  border-radius: 0 5px 5px 0;
}

.table__body {
  border-radius: 5px;
  overflow: hidden;
  border-top: 1px solid #E2E4EA;
}

.table__body-cell {
  border-right: 1px solid #E2E4EA;
  border-bottom: 1px solid #E2E4EA;
  color: #606F7A;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.333%;
  letter-spacing: -1px;
}

.table__body-cell:first-child {
  border-left: 1px solid #E2E4EA;
}

.table__body-input {
  width: 100%;
  text-align: center;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #606F7A;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
}

.table__body-image {
  width: 120px;
  height: 97px;
}

.table__body-button {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url(../../images/delete-button.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}